python_version >= "3.8"
streamlit==1.41.1
pyngrok==7.2.3
pinecone-client==5.0.1
sentence-transformers==3.3.1
huggingface-hub==0.27.1
tensorflow
torch>=2.2.0
torchvision==0.10.0
tensorflow==2.18.0
tf-keras



